@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.sidenav-container {
  height: 100%;
  background: rgb(255, 255, 255);
}

.sidenav {
  width: 190px;
  background-color: #f2f2f2;
  opacity: 80%;
  /* border-right:1px solid rgb(200, 22, 22); */
  /* border-right:1px solid #224b62 */
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-nav-list .item-mat{
height: 70px;  
}

.mat-toolbar.mat-primary {
  position: relative;
  top: 0;
  z-index: 1;

  background: #224b62;
  /* background: #24516b; */
  color: #fff;
  height: 70px;
}

.username {
  padding-left: 1200px;
  padding-right: 20px;
}

.stylelogo{
  opacity: 63%;
}

.menu{
padding: 8px;
font-size: 25px;
}

.mat-nav-list .mat-list-item.active{
  /* color: rgb(4, 6, 62); */
  color: black;
  border: 2px solid rgb(200, 200, 200);
  /* color: rgb(200, 22, 22); */
  font-size: 20px;
  background-color: #dbdada;
  /* background-color: #ecf8ff; */
 
  /* font-weight: bold; */
}
